In [48]:
import numpy as np
import pandas as pd

In [2]:
disater = pd.read_csv("./data/CDC/disaster_cleaned.csv")

In [3]:
disater.head()

,Unnamed: 0,designatedArea,Volcano,Typhoon,Tsunami,Toxic Substances,Tornado,Terrorist,Snow,Severe Storm(s),...,Freezing,Flood,Fishing Losses,Fire,Earthquake,Drought,Dam/Levee Break,Coastal Storm,Chemical,Biological
0,0,Adams (County),1,0,0,0,7,0,16,55,...,0,53,0,1,0,3,0,3,0,24
1,1,Asotin (County),1,0,0,0,0,0,0,2,...,0,4,0,1,0,1,0,1,0,2
2,2,Benewah (County),1,0,0,0,0,0,0,6,...,0,3,0,1,0,0,0,0,0,2
3,3,Benton (County),1,0,0,0,5,0,5,64,...,0,35,0,4,1,4,0,2,0,18
4,4,Bonner (County),1,0,0,0,0,0,0,6,...,0,3,0,2,0,0,0,0,0,2

In [4]:
disater.drop(["Unnamed: 0"], inplace=True, axis = 1)

In [5]:
disater.head()

,designatedArea,Volcano,Typhoon,Tsunami,Toxic Substances,Tornado,Terrorist,Snow,Severe Storm(s),Severe Ice Storm,...,Freezing,Flood,Fishing Losses,Fire,Earthquake,Drought,Dam/Levee Break,Coastal Storm,Chemical,Biological
0,Adams (County),1,0,0,0,7,0,16,55,4,...,0,53,0,1,0,3,0,3,0,24
1,Asotin (County),1,0,0,0,0,0,0,2,0,...,0,4,0,1,0,1,0,1,0,2
2,Benewah (County),1,0,0,0,0,0,0,6,0,...,0,3,0,1,0,0,0,0,0,2
3,Benton (County),1,0,0,0,5,0,5,64,9,...,0,35,0,4,1,4,0,2,0,18
4,Bonner (County),1,0,0,0,0,0,0,6,0,...,0,3,0,2,0,0,0,0,0,2

In [ ]:
disater["designatedArea"] = disater["designatedArea"]

In [20]:
ls = []
for area in disater["designatedArea"]:
    area = area[:-9]
    ls.append(area)
disater["designatedArea"] = ls

In [21]:
disater.head()

,designatedArea,Volcano,Typhoon,Tsunami,Toxic Substances,Tornado,Terrorist,Snow,Severe Storm(s),Severe Ice Storm,...,Freezing,Flood,Fishing Losses,Fire,Earthquake,Drought,Dam/Levee Break,Coastal Storm,Chemical,Biological
0,Adams,1,0,0,0,7,0,16,55,4,...,0,53,0,1,0,3,0,3,0,24
1,Asotin,1,0,0,0,0,0,0,2,0,...,0,4,0,1,0,1,0,1,0,2
2,Benewah,1,0,0,0,0,0,0,6,0,...,0,3,0,1,0,0,0,0,0,2
3,Benton,1,0,0,0,5,0,5,64,9,...,0,35,0,4,1,4,0,2,0,18
4,Bonner,1,0,0,0,0,0,0,6,0,...,0,3,0,2,0,0,0,0,0,2

In [24]:
disater["Total"] = disater.sum(axis = 1)

In [55]:
disaster = "Volcano"
print(disater[disaster].to_list())

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [25]:
disater.head()

,designatedArea,Volcano,Typhoon,Tsunami,Toxic Substances,Tornado,Terrorist,Snow,Severe Storm(s),Severe Ice Storm,...,Flood,Fishing Losses,Fire,Earthquake,Drought,Dam/Levee Break,Coastal Storm,Chemical,Biological,Total
0,Adams,1,0,0,0,7,0,16,55,4,...,53,0,1,0,3,0,3,0,24,187
1,Asotin,1,0,0,0,0,0,0,2,0,...,4,0,1,0,1,0,1,0,2,12
2,Benewah,1,0,0,0,0,0,0,6,0,...,3,0,1,0,0,0,0,0,2,14
3,Benton,1,0,0,0,5,0,5,64,9,...,35,0,4,1,4,0,2,0,18,158
4,Bonner,1,0,0,0,0,0,0,6,0,...,3,0,2,0,0,0,0,0,2,15

In [26]:
disater.describe()

,Volcano,Typhoon,Tsunami,Toxic Substances,Tornado,Terrorist,Snow,Severe Storm(s),Severe Ice Storm,Other,...,Flood,Fishing Losses,Fire,Earthquake,Drought,Dam/Levee Break,Coastal Storm,Chemical,Biological,Total
count,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,...,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000
mean,0.027902,0.030692,0.005022,0.003906,0.807478,0.002790,1.941406,9.146763,1.561942,0.140067,...,5.260045,0.023438,1.787946,0.053571,0.702567,0.006696,0.238839,0.005022,3.364397,30.747768
std,0.174610,0.360928,0.070710,0.062395,1.605508,0.052763,3.485541,15.266119,2.821027,0.477198,...,8.444611,0.184575,3.714356,0.270303,0.993128,0.094280,0.525070,0.070710,4.541455,43.217149
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,14.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.000000,...,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,20.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,3.000000,10.000000,2.000000,0.000000,...,6.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,31.000000
max,3.000000,11.000000,1.000000,1.000000,15.000000,1.000000,38.000000,164.000000,23.000000,4.000000,...,101.000000,3.000000,54.000000,3.000000,11.000000,2.000000,5.000000,1.000000,58.000000,526.000000

In [57]:
dic = {}
for disaster in disater.columns.to_list():
    if disaster != "designatedArea":
        print(disater[disaster])
        ls = disater[disaster].to_list()
        ls = np.array(remove_values_from_list(ls, 0))
        quantile = []
        for i in range(1, 11):
            quantile.append(np.quantile(ls, i/10))
        dic[disaster] = quantile

0       1
1       1
2       1
3       1
4       1
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Volcano, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Typhoon, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Tsunami, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Toxic Substances, Length: 1792, dtype: int64
0       7
1       0
2       0
3       5
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Tornado, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Terrorist, Length: 1792, dtype: int64
0       16
1        0
2        0
3        5
4        0
        ..
1787     0
1788     0
1789     0
1790     0
1791     0
Name: Snow, Length: 1792, dtype: int64
0       55
1        2
2        6
3       64
4        6
        ..
1787     0
1788     0
1789     0
1790     0
1791     0
Name: Severe Storm(s), Length: 1792, dtype: int64
0       4
1       0
2       0
3       9
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Severe Ice Storm, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Other, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Mud/Landslide, Length: 1792, dtype: int64
0       20
1        0
2        1
3       10
4        1
        ..
1787     0
1788     0
1789     0
1790     0
1791     0
Name: Hurricane, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Freezing, Length: 1792, dtype: int64
0       53
1        4
2        3
3       35
4        3
        ..
1787     0
1788     0
1789     0
1790     0
1791     0
Name: Flood, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Fishing Losses, Length: 1792, dtype: int64
0       1
1       1
2       1
3       4
4       2
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Fire, Length: 1792, dtype: int64
0       0
1       0
2       0
3       1
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Earthquake, Length: 1792, dtype: int64
0       3
1       1
2       0
3       4
4       0
       ..
1787    1
1788    1
1789    1
1790    0
1791    0
Name: Drought, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Dam/Levee Break, Length: 1792, dtype: int64
0       3
1       1
2       0
3       2
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Coastal Storm, Length: 1792, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Chemical, Length: 1792, dtype: int64
0       24
1        2
2        2
3       18
4        2
        ..
1787     0
1788     0
1789     0
1790     2
1791     1
Name: Biological, Length: 1792, dtype: int64
0       187
1        12
2        14
3       158
4        15
       ...
1787      1
1788      1
1789      1
1790      2
1791      1
Name: Total, Length: 1792, dtype: int64

In [58]:
disaster_quantile = pd.DataFrame(dic)

In [62]:
disaster_quantile.to_csv("./data/CDC/disaster_quantile.csv")

In [44]:
def remove_values_from_list(the_list, val):
   return [value for value in the_list if value != val]
ls = [0,0,0,0,0,2]

ls = remove_values_from_list(ls, 0)
print(ls)

In [47]:
for i in range(1, 10):
    print(i/10)

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
ls = disater["Volcano"].to_numpy()
ls = remove_values_from_list(ls, 0)

In [40]:
disater.Volcano

0       1
1       1
2       1
3       1
4       1
       ..
1787    0
1788    0
1789    0
1790    0
1791    0
Name: Volcano, Length: 1792, dtype: int64

In [49]:
disaster = pd.read_csv("./data/CDC/DisasterDeclarationsSummaries.csv", usecols= ["designatedArea","incidentType", "state"])

In [50]:
disaster.head()

  state incidentType    designatedArea
0    WA   Biological    Adams (County)
1    WA   Biological   Asotin (County)
2    WA   Biological   Chelan (County)
3    WA   Biological   Benton (County)
4    WA   Biological  Clallam (County)

In [8]:
disaster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62597 entries, 0 to 62596
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    62597 non-null  object
 1   designatedArea  62597 non-null  object
dtypes: object(2)
memory usage: 978.2+ KB

In [51]:
disasterType = disaster["incidentType"].unique()

In [11]:
disasterType

array(['Biological', 'Chemical', 'Coastal Storm', 'Dam/Levee Break',
       'Drought', 'Earthquake', 'Fire', 'Fishing Losses', 'Flood',
       'Freezing', 'Human Cause', 'Hurricane', 'Mud/Landslide', 'Other',
       'Severe Ice Storm', 'Severe Storm(s)', 'Snow', 'Terrorist',
       'Tornado', 'Toxic Substances', 'Tsunami', 'Typhoon', 'Volcano'],
      dtype=object)

In [34]:
counties = {"Alamance",
"Alexander",
"Alleghany",
"Anson",
"Ashe",
"Avery",
"Beaufort",
"Bertie",
"Bladen",
"Brunswick",
Buncombe,
Burke,
Cabarrus,
Caldwell,
Camden,
Carteret,
Caswell,
Catawba
Chatham
Cherokee
Chowan
Clay
Cleveland
Columbus
Craven
Cumberland
Currituck
Dare
Davidson
Davie
Duplin
Durham
Edgecombe
Forsyth
Franklin
Gaston
Gates
Graham
Granville
Greene
Guilford
Halifax
Harnett
Haywood
Henderson
Hertford
Hoke
Hyde
Iredell
Jackson
Johnston
Jones
Lee
Lenoir
Lincoln
Macon
Madison
Martin
McDowell
Mecklenburg
Mitchell
Montgomery
Moore
Nash
New Hanover
Northampton
Onslow
Orange
Pamlico
Pasquotank
Pender
Perquimans
Person
Pitt
Polk
Randolph
Richmond
Robeson
Rockingham
Rowan
Rutherford
Sampson
Scotland
Stanly
Stokes
Surry
Swain
Transylvania
Tyrrell
Union
Vance
Wake
Warren
Washington
Watauga
Wayne
Wilkes
Wilson
Yadkin
Yancey}

In [37]:
bio = disaster.query("incidentType == 'Biological'")

In [38]:
chem = disaster.query("incidentType == 'Chemical'")
chem.head()

     incidentType    designatedArea
7854     Chemical    Boone (County)
7855     Chemical   Cabell (County)
7856     Chemical  Kanawha (County)
7857     Chemical  Lincoln (County)
7858     Chemical     Clay (County)

In [40]:
Costal = disaster.query("incidentType == 'Coastal Storm'")
Costal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 635 entries, 7863 to 8497
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    635 non-null    object
 1   designatedArea  635 non-null    object
dtypes: object(2)
memory usage: 14.9+ KB

In [42]:
Dam = disaster.query("incidentType == 'Dam/Levee Break'")
Dam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 8498 to 8510
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    13 non-null     object
 1   designatedArea  13 non-null     object
dtypes: object(2)
memory usage: 312.0+ bytes

In [43]:
Drought = disaster.query("incidentType == 'Drought'")
Drought.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1292 entries, 8511 to 9802
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    1292 non-null   object
 1   designatedArea  1292 non-null   object
dtypes: object(2)
memory usage: 30.3+ KB

In [47]:
Drought.designatedArea.unique()

array(['Statewide', 'Delaware (County)', 'Orange (County)',
       'Dutchess (County)', 'New York (County)', 'Nassau (County)',
       'Kings (County)', 'Suffolk (County)', 'Sullivan (County)',
       'Ulster (County)', 'Queens (County)', 'Rockland (County)',
       'Putnam (County)', 'Richmond (County)', 'Bergen (County)',
       'Westchester (County)', 'Cumberland (County)',
       'Hunterdon (County)', 'Atlantic (County)', 'Burlington (County)',
       'Camden (County)', 'Essex (County)', 'Cape May (County)',
       'Gloucester (County)', 'Monmouth (County)', 'Somerset (County)',
       'Middlesex (County)', 'Mercer (County)', 'Salem (County)',
       'Passaic (County)', 'Hudson (County)', 'Ocean (County)',
       'Bucks (County)', 'Morris (County)', 'Warren (County)',
       'Union (County)', 'Berks (County)', 'Carbon (County)',
       'Sussex (County)', 'Chester (County)', 'Montgomery (County)',
       'Lehigh (County)', 'Monroe (County)', 'Philadelphia (County)',
       'Northampton (County)', 'Pike (County)', 'Wayne (County)',
       'Schuylkill (County)', 'Kent (County)', 'New Castle (County)',
       'Western (District)', 'Eastern (District)', "Manu'a (District)",
       'Swains Island (Island) (County-equivalent)',
       'Rose Island (Island) (County-equivalent)',
       'Bikini (County-equivalent)', 'Ebon (County-equivalent)',
       'Kwajalein (County-equivalent)', 'Jaluit (County-equivalent)',
       'Kili (County-equivalent)', 'Ebeye', 'Jabat (County-equivalent)',
       'Likiep (County-equivalent)', 'Enewetak (County-equivalent)',
       'Ailinglaplap (County-equivalent)', 'Aur (County-equivalent)',
       'Lae (County-equivalent)', 'Arno (County-equivalent)',
       'Lib (County-equivalent)', 'Majuro (County-equivalent)',
       'Ailuk (County-equivalent)', 'Maloelap (County-equivalent)',
       'Mejit (County-equivalent)', 'Namorik (County-equivalent)',
       'Ujae (County-equivalent)', 'Utrik (County-equivalent)',
       'Namu (County-equivalent)', 'Wotje (County-equivalent)',
       'Truk (County-equivalent)', 'Mili (County-equivalent)',
       'Pohnpei (County-equivalent)', 'Wotho (County-equivalent)',
       'Yap (County-equivalent)',
       'St. Thomas (Island) (County-equivalent)', 'Aibonito (Municipio)',
       'Arroyo (Municipio)', 'Cabo Rojo (Municipio)',
       'Barranquitas (Municipio)', 'Cayey (Municipio)',
       'St. Croix (Island) (County-equivalent)', 'Canovanas (Municipio)',
       'Carolina (Municipio)', 'Ceiba (Municipio)', 'Guayama (Municipio)',
       'Juana Diaz (Municipio)', 'Guayanilla (Municipio)',
       'Sabana Grande (Municipio)', 'Fajardo (Municipio)',
       'Santa Isabel (Municipio)', 'Guanica (Municipio)',
       'Vieques (Municipio)', 'Comerio (Municipio)',
       'Culebra (Municipio)', 'Penuelas (Municipio)', 'Cidra (Municipio)',
       'Lajas (Municipio)', 'Coamo (Municipio)', 'Salinas (Municipio)',
       'Yauco (Municipio)', 'Carver (County)', 'Brown (County)',
       'Douglas (County)', 'Kandiyohi (County)', 'Houston (County)',
       'Crow Wing (County)', 'Itasca (County)', 'Beltrami (County)',
       'Hennepin (County)', 'Anoka (County)', 'Blue Earth (County)',
       'Aitkin (County)', 'Chisago (County)', 'Clay (County)',
       'Grant (County)', 'Cottonwood (County)', 'Kanabec (County)',
       'Chippewa (County)', 'Cook (County)', 'Dodge (County)',
       'Cass (County)', 'Benton (County)', 'Clearwater (County)',
       'Fillmore (County)', 'Isanti (County)', 'Big Stone (County)',
       'Carlton (County)', 'Becker (County)', 'Dakota (County)',
       'Jackson (County)', 'Lac qui Parle (County)', 'Lyon (County)',
       'Koochiching (County)', 'Lake (County)', 'Hubbard (County)',
       'Lincoln (County)', 'Le Sueur (County)', 'Mahnomen (County)',
       'McLeod (County)', 'Marshall (County)', 'Martin (County)',
       'Meeker (County)', 'Murray (County)', 'Nobles (County)',
       'Mille Lacs (County)', 'Nicollet (County)', 'Otter Tail (County)',
       'Norman (County)', 'Morrison (County)', 'Mower (County)',
       'Pennington (County)', 'Pine (County)', 'Pipestone (County)',
       'Olmsted (County)', 'Polk (County)', 'Stearns (County)',
       'Sherburne (County)', 'Swift (County)', 'Todd (County)',
       'Wadena (County)', 'Barron (County)', 'Ramsey (County)',
       'St. Louis (County)', 'Steele (County)', 'Adams (County)',
       'Scott (County)', 'Wright (County)', 'Buffalo (County)',
       'Burnett (County)', 'Stevens (County)', 'Red Lake (County)',
       'Calumet (County)', 'Watonwan (County)', 'Redwood (County)',
       'Ashland (County)', 'Bayfield (County)', 'Pope (County)',
       'Sibley (County)', 'Yellow Medicine (County)', 'Renville (County)',
       'Traverse (County)', 'Washington (County)', 'Wilkin (County)',
       'Rock (County)', 'Winona (County)', 'Clark (County)',
       'Green Lake (County)', 'Columbia (County)', 'Iowa (County)',
       'Green (County)', 'Forest (County)', 'Dunn (County)',
       'Door (County)', 'Eau Claire (County)', 'Fond du Lac (County)',
       'Iron (County)', 'Florence (County)', 'Jefferson (County)',
       'Crawford (County)', 'Dane (County)', 'Portage (County)',
       'Marquette (County)', 'Oconto (County)', 'Kewaunee (County)',
       'Langlade (County)', 'Sawyer (County)', 'Rusk (County)',
       'Menominee (County)', 'Lafayette (County)', 'Outagamie (County)',
       'Marinette (County)', 'Pepin (County)', 'St. Croix (County)',
       'Sauk (County)', 'Oneida (County)', 'Price (County)',
       'La Crosse (County)', 'Pierce (County)', 'Juneau (County)',
       'Marathon (County)', 'Richland (County)', 'Shawano (County)',
       'Walworth (County)', 'Bennett (County)', 'Corson (County)',
       'Haakon (County)', 'Charles Mix (County)', 'Gregory (County)',
       'Trempealeau (County)', 'Taylor (County)', 'Waushara (County)',
       'Codington (County)', 'Faulk (County)', 'Waukesha (County)',
       'Winnebago (County)', 'Aurora (County)', 'Deuel (County)',
       'Vilas (County)', 'Wood (County)', 'Brookings (County)',
       'Edmunds (County)', 'Bon Homme (County)', 'Dewey (County)',
       'Washburn (County)', 'Beadle (County)', 'Day (County)',
       'Campbell (County)', 'Vernon (County)', 'Davison (County)',
       'Waupaca (County)', 'Brule (County)', 'Meade (County)',
       'Hutchinson (County)', 'Roberts (County)', 'Hanson (County)',
       'Perkins (County)', 'Jones (County)', 'Hand (County)',
       'Miner (County)', 'Hughes (County)', 'Hyde (County)',
       'McPherson (County)', 'Stanley (County)', 'Hamlin (County)',
       'Turner (County)', 'Jerauld (County)', 'Potter (County)',
       'Spink (County)', 'Kingsbury (County)', 'Mellette (County)',
       'Tripp (County)', 'Lyman (County)', 'Sully (County)',
       'Sanborn (County)', 'West Washabaugh (Unorganized Territory of)',
       'McCook (County)', 'Moody (County)', 'Oglala Lakota (County)',
       'Minnehaha (County)', 'Burleigh (County)', 'McKenzie (County)',
       'Yankton (County)', 'Emmons (County)', 'Ward (County)',
       'LaMoure (County)', 'Stutsman (County)', 'McLean (County)',
       'Kidder (County)', 'Logan (County)', 'Adair (County)',
       'Ziebach (County)', 'McIntosh (County)', 'Mountrail (County)',
       'Ransom (County)', 'Sargent (County)', 'Dickey (County)',
       'Andrew (County)', 'Boone (County)', 'Cedar (County)',
       'Cole (County)', 'Audrain (County)', 'Christian (County)',
       'Buchanan (County)', 'Bates (County)', 'Clinton (County)',
       'Callaway (County)', 'Butler (County)', 'Carter (County)',
       'Caldwell (County)', 'Chariton (County)', 'Carroll (County)',
       'Cooper (County)', 'Dent (County)', 'Howell (County)',
       'Henry (County)', 'DeKalb (County)', 'Greene (County)',
       'Knox (County)', 'Howard (County)', 'Laclede (County)',
       'Franklin (County)', 'Gasconade (County)', 'Gentry (County)',
       'Hickory (County)', 'Johnson (County)', 'Dallas (County)',
       'Grundy (County)', 'Harrison (County)', 'Daviess (County)',
       'Nodaway (County)', 'Oregon (County)', 'Linn (County)',
       'Macon (County)', 'Moniteau (County)', 'Morgan (County)',
       'Maries (County)', 'Marion (County)', 'Miller (County)',
       'Livingston (County)', 'Madison (County)', 'Osage (County)',
       'Reynolds (County)', 'Saline (County)', 'St. Charles (County)',
       'Ozark (County)', 'Ray (County)', 'St. Francois (County)',
       'Augusta (County)', 'Charlotte (County)', 'Hanover (County)',
       'Lee (County)', 'Pulaski (County)', 'Schuyler (County)',
       'Brunswick (County)', 'Goochland (County)', 'Lunenburg (County)',
       'Ripley (County)', 'Halifax (County)', 'Randolph (County)',
       'St. Clair (County)', 'Taney (County)', 'Webster (County)',
       'Appomattox (County)', 'Bedford (County)', 'Platte (County)',
       'Chesterfield (County)', 'Texas (County)', 'Mecklenburg (County)',
       'Phelps (County)', 'Shannon (County)', 'Scotland (County)',
       'Giles (County)', 'Stone (County)', 'Worth (County)',
       'Ralls (County)', 'Bland (County)', 'Grayson (County)',
       'Pettis (County)', 'Buckingham (County)', 'Dinwiddie (County)',
       'Amelia (County)', 'Shelby (County)', 'Amherst (County)',
       'Nelson (County)', 'Nottoway (County)', 'Russell (County)',
       'Rockingham (County)', 'Patrick (County)', 'Page (County)',
       'Powhatan (County)', 'Prince Edward (County)',
       'Pittsylvania (County)', 'Tazewell (County)', 'Wythe (County)',
       'Baxter (County)', 'Smyth (County)', 'Cleburne (County)',
       'Shenandoah (County)', 'Conway (County)', 'Van Buren (County)',
       'Faulkner (County)', 'Yell (County)', 'Hampshire (County)',
       'Sebastian (County)', 'Izard (County)', 'Newton (County)',
       'Independence (County)', 'White (County)', 'Garland (County)',
       'Sharp (County)', 'Fayette (County)', 'Mineral (County)',
       'Fulton (County)', 'Perry (County)', 'Searcy (County)',
       'Greenbrier (County)', 'Wyoming (County)', 'Lassen (County)',
       'Napa (County)', 'Kern (County)', 'San Luis Obispo (County)',
       'Mendocino (County)', 'Nevada (County)', 'Calaveras (County)',
       'Monterey (County)', 'Alpine (County)', 'Boyd (County)',
       'Santa Clara (County)', 'Solano (County)', 'Glenn (County)',
       'Merced (County)', 'San Mateo (County)', 'Summers (County)',
       'Sacramento (County)', 'Amador (County)', 'Keya Paha (County)',
       'San Benito (County)', 'Colusa (County)', 'Marin (County)',
       'Mariposa (County)', 'Siskiyou (County)', 'Plumas (County)',
       'Santa Cruz (County)', 'Sonoma (County)', 'Alameda (County)',
       'Butte (County)', 'Santa Barbara (County)', 'Madera (County)',
       'Placer (County)', 'Inyo (County)', 'Shasta (County)',
       'Sierra (County)', 'Contra Costa (County)', 'Fresno (County)',
       'Modoc (County)', 'Pendleton (County)', 'Raleigh (County)',
       'Hardy (County)', 'El Dorado (County)', 'San Joaquin (County)',
       'Stanislaus (County)', 'Yolo (County)', 'Davis (County)',
       'Daggett (County)', 'Tulare (County)', 'Yuba (County)',
       'Cache (County)', 'Beaver (County)', 'Tuolumne (County)',
       'Trinity (County)', 'Box Elder (County)', 'Duchesne (County)',
       'Sutter (County)', 'Tehama (County)', 'Emery (County)',
       'Grand (County)', 'Millard (County)', 'Sevier (County)',
       'Summit (County)', 'Rich (County)', 'Sanpete (County)',
       'Uintah (County)', 'San Juan (County)', 'Garfield (County)',
       'Juab (County)', 'Kane (County)', 'Wasatch (County)',
       'Piute (County)', 'Tooele (County)', 'Baca (County)',
       'Archuleta (County)', 'Weber (County)', 'Cheyenne (County)',
       'Delta (County)', 'Eagle (County)', 'El Paso (County)',
       'Huerfano (County)', 'Hinsdale (County)', 'Kiowa (County)',
       'Kit Carson (County)', 'Moffat (County)', 'Fremont (County)',
       'Gunnison (County)', 'Montezuma (County)', 'Costilla (County)',
       'Elbert (County)', 'Crowley (County)', 'La Plata (County)',
       'Bent (County)', 'Conejos (County)', 'Dolores (County)',
       'Las Animas (County)', 'Montrose (County)', 'Mesa (County)',
       'Otero (County)', 'Ouray (County)', 'Park (County)',
       'Pitkin (County)', 'Saguache (County)', 'Routt (County)',
       'Prowers (County)', 'Rio Grande (County)', 'Pueblo (County)',
       'San Miguel (County)', 'Teller (County)', 'Houghton (County)',
       'Colfax (County)', 'Sandoval (County)', 'Emmet (County)',
       'Cheboygan (County)', 'Clare (County)', 'Roosevelt (County)',
       'Alcona (County)', 'Baraga (County)', 'Charlevoix (County)',
       'Alpena (County)', 'Antrim (County)', 'Dickinson (County)',
       'Arenac (County)', 'Benzie (County)', 'Quay (County)',
       'Harding (County)', 'Iosco (County)', 'Rio Arriba (County)',
       'Alger (County)', 'Gladwin (County)', 'Gogebic (County)',
       'Grand Traverse (County)', 'Kalkaska (County)', 'Mecosta (County)',
       'Manistee (County)', 'Luce (County)', 'Isabella (County)',
       'Leelanau (County)', 'Mackinac (County)', 'Mason (County)',
       'Montmorency (County)', 'Missaukee (County)', 'Ontonagon (County)',
       'Ogemaw (County)', 'Otsego (County)', 'Oceana (County)',
       'Presque Isle (County)', 'Oscoda (County)', 'Osceola (County)',
       'Roscommon (County)', 'Asotin (County)', 'Chelan (County)',
       'Kittitas (County)', 'Pend Oreille (County)', 'Sioux (County)',
       'Ferry (County)', 'Klickitat (County)', 'Wexford (County)',
       'Plymouth (County)', 'Schoolcraft (County)', 'Spokane (County)',
       'Malheur (County)', 'Morrow (County)', 'Gilliam (County)',
       'Crook (County)', 'Sherman (County)', 'Wasco (County)',
       'Apache (County)', 'Pinal (County)', 'Coconino (County)',
       'Harney (County)', 'Cochise (County)', 'Yakima (County)',
       'Graham (County)', 'Klamath (County)', 'Bear Lake (County)',
       'Whitman (County)', 'Navajo (County)', 'Josephine (County)',
       'Wheeler (County)', 'Deschutes (County)', 'Mohave (County)',
       'Yavapai (County)', 'Baker (County)', 'Wallowa (County)',
       'Idaho (County)', 'Sweetwater (County)', 'Caribou (County)',
       'Humboldt (County)', 'Sublette (County)', 'Elmore (County)',
       'White Pine (County)', 'Elko (County)', 'Umatilla (County)',
       'Blaine (County)', 'Eureka (County)',
       'St. John (Island) (County-equivalent)', 'Camas (County)',
       'Lander (County)', 'Ben Hill (County)', 'Bibb (County)',
       'Brooks (County)', 'Berrien (County)', 'Atkinson (County)',
       'Bleckley (County)', 'Bacon (County)', 'Barrow (County)',
       'Brantley (County)', 'Uinta (County)', 'Bartow (County)',
       'Appling (County)', 'Bryan (County)', 'Burke (County)',
       'Chattahoochee (County)', 'Clarke (County)', 'Charlton (County)',
       'Baldwin (County)', 'Butts (County)', 'Candler (County)',
       'Bulloch (County)', 'Chatham (County)', 'Chattooga (County)',
       'Banks (County)', 'Catoosa (County)', 'Cherokee (County)',
       'Coffee (County)', 'Clinch (County)', 'Cobb (County)',
       'Clayton (County)', 'Dawson (County)', 'Coweta (County)',
       'Colquitt (County)', 'Crisp (County)', 'Dade (County)',
       'Decatur (County)', 'Dooly (County)', 'Emanuel (County)',
       'Early (County)', 'Effingham (County)', 'Floyd (County)',
       'Echols (County)', 'Glynn (County)', 'Forsyth (County)',
       'Hall (County)', 'Jasper (County)', 'Gwinnett (County)',
       'Haralson (County)', 'Harris (County)', 'Heard (County)',
       'Glascock (County)', 'Jeff Davis (County)', 'Grady (County)',
       'Hancock (County)', 'Habersham (County)', 'Hart (County)',
       'Gordon (County)', 'Irwin (County)', 'Lamar (County)',
       'Jenkins (County)', 'Laurens (County)', 'Long (County)',
       'Mitchell (County)', 'Lowndes (County)', 'McDuffie (County)',
       'Oconee (County)', 'Peach (County)', 'Pickens (County)',
       'Lumpkin (County)', 'Meriwether (County)', 'Paulding (County)',
       'Liberty (County)', 'Oglethorpe (County)', 'Lanier (County)',
       'Screven (County)', 'Talbot (County)', 'Tattnall (County)',
       'Sumter (County)', 'Taliaferro (County)', 'Stewart (County)',
       'Rockdale (County)', 'Schley (County)', 'Stephens (County)',
       'Seminole (County)', 'Spalding (County)', 'Telfair (County)',
       'Treutlen (County)', 'Ware (County)', 'Walton (County)',
       'Walker (County)', 'Toombs (County)', 'Thomas (County)',
       'Tift (County)', 'Upson (County)', 'Troup (County)',
       'Twiggs (County)', 'Autauga (County)', 'Whitfield (County)',
       'Wilkinson (County)', 'Wilkes (County)', 'Wilcox (County)',
       'Barbour (County)', 'Crenshaw (County)', 'Etowah (County)',
       'Chambers (County)', 'Dale (County)', 'Cullman (County)',
       'Calhoun (County)', 'Covington (County)', 'Escambia (County)',
       'Coosa (County)', 'Chilton (County)', 'Blount (County)',
       'Colbert (County)', 'Bullock (County)', 'Choctaw (County)',
       'Conecuh (County)', 'Lawrence (County)', 'Geneva (County)',
       'Hale (County)', 'Lauderdale (County)', 'Limestone (County)',
       'Mobile (County)', 'Marengo (County)', 'Winston (County)',
       'Alleghany (County)', 'Tuscaloosa (County)', 'Tallapoosa (County)',
       'Albemarle (County)', 'Talladega (County)', 'Craig (County)',
       'Botetourt (County)', 'Charles City (County)', 'Bath (County)',
       'Fauquier (County)', 'Caroline (County)', 'Culpeper (County)',
       'King George (County)', 'King William (County)', 'Louisa (County)',
       'Henrico (County)', 'Fluvanna (County)', 'Highland (County)',
       'Frederick (County)', 'New Kent (County)', 'Greensville (County)',
       'Lancaster (County)', 'Roanoke (County)', 'Spotsylvania (County)',
       'Prince William (County)', 'Rockbridge (County)',
       'Prince George (County)', 'Rappahannock (County)',
       'Stafford (County)', 'Barnwell (County)', 'Allendale (County)',
       'Edgefield (County)', 'Beaufort (County)', 'Kershaw (County)',
       'Charleston (County)', 'McCormick (County)', 'Bamberg (County)',
       'Abbeville (County)', 'Greenwood (County)', 'Aiken (County)',
       'Hampton (County)', 'Greenville (County)', 'Lexington (County)',
       'Anderson (County)', 'York (County)', 'Spartanburg (County)',
       'Saluda (County)', 'Newberry (County)', 'Orangeburg (County)',
       'Caswell (County)', 'Bladen (County)', 'Cleveland (County)',
       'Anson (County)', 'Alexander (County)', 'Davie (County)',
       'Catawba (County)', 'Cabarrus (County)', 'Davidson (County)',
       'Durham (County)', 'Edgecombe (County)', 'Alamance (County)',
       'Columbus (County)', 'Gaston (County)', 'Glacier (County)',
       'Guilford (County)', 'Moore (County)', 'Granville (County)',
       'Harnett (County)', 'Missoula (County)', 'Surry (County)',
       'Teton (County)', 'Wake (County)', 'Wilson (County)',
       'Stanly (County)', 'Golden Valley (County)',
       'Musselshell (County)', 'Iredell (County)', 'Nash (County)',
       'Stokes (County)', 'Vance (County)', 'Person (County)',
       'Rutherford (County)', 'Pocahontas (County)', 'Johnston (County)',
       'Rowan (County)', 'Yadkin (County)', 'Addison (County)',
       'Pingelap (Municipality)', 'Bee (County)', 'Bexar (County)',
       'Bastrop (County)', 'Archer (County)', 'Bandera (County)',
       'Blanco (County)', 'Baylor (County)', 'Bell (County)',
       'Borden (County)', 'Atascosa (County)', 'Austin (County)',
       'Burleson (County)', 'Callahan (County)', 'Brazos (County)',
       'Bosque (County)', 'Burnet (County)', 'Coke (County)',
       'Concho (County)', 'Comanche (County)', 'Comal (County)',
       'Cooke (County)', 'Coleman (County)', 'Colorado (County)',
       'Collin (County)', 'Dickens (County)', 'Denton (County)',
       'Crosby (County)', 'Eastland (County)', 'Cottle (County)',
       'Dimmit (County)', 'Duval (County)', 'DeWitt (County)',

In [44]:
Drought.head()

     incidentType     designatedArea
8511      Drought          Statewide
8512      Drought          Statewide
8513      Drought          Statewide
8514      Drought  Delaware (County)
8515      Drought    Orange (County)

In [48]:
Earthquake = disaster.query("incidentType == 'Earthquake'")
Earthquake.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 9803 to 10029
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    227 non-null    object
 1   designatedArea  227 non-null    object
dtypes: object(2)
memory usage: 5.3+ KB

In [49]:
Fire = disaster.query("incidentType == 'Fire'")
Fire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3555 entries, 10030 to 13584
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    3555 non-null   object
 1   designatedArea  3555 non-null   object
dtypes: object(2)
memory usage: 83.3+ KB

In [52]:
dic = {}
for dtype in disasterType:
    dic[dtype] = (disaster[disaster.incidentType == dtype])

In [53]:
dic

{'Biological':      state incidentType                   designatedArea
 0       WA   Biological                   Adams (County)
 1       WA   Biological                  Asotin (County)
 2       WA   Biological                  Chelan (County)
 3       WA   Biological                  Benton (County)
 4       WA   Biological                 Clallam (County)
 ...    ...          ...                              ...
 7849    OR   Biological                     Klamath TDSA
 7850    OR   Biological        Siletz Indian Reservation
 7851    OR   Biological      Umatilla Indian Reservation
 7852    OR   Biological  Warm Springs Indian Reservation
 7853    OK   Biological            Otoe-Missouria (OTSA)

 [7854 rows x 3 columns],
 'Chemical':      state incidentType    designatedArea
 7854    WV     Chemical    Boone (County)
 7855    WV     Chemical   Cabell (County)
 7856    WV     Chemical  Kanawha (County)
 7857    WV     Chemical  Lincoln (County)
 7858    WV     Chemical     Clay (County)
 7859    WV     Chemical   Putnam (County)
 7860    WV     Chemical  Jackson (County)
 7861    WV     Chemical    Roane (County)
 7862    WV     Chemical    Logan (County),
 'Coastal Storm':      state   incidentType                                 designatedArea
 7863    NH  Coastal Storm  Rockingham (County)(in (P)MSA 4160,4760,6450)
 7864    FL  Coastal Storm                          Hillsborough (County)
 7865    FL  Coastal Storm                               Brevard (County)
 7866    FL  Coastal Storm                                 Dixie (County)
 7867    FL  Coastal Storm                              Franklin (County)
 ...    ...            ...                                            ...
 8493    LA  Coastal Storm                            Washington (Parish)
 8494    LA  Coastal Storm                      West Baton Rouge (Parish)
 8495    LA  Coastal Storm                        West Feliciana (Parish)
 8496    LA  Coastal Storm                          West Carroll (Parish)
 8497    LA  Coastal Storm                                  Winn (Parish)

 [635 rows x 3 columns],
 'Dam/Levee Break':      state     incidentType        designatedArea
 8498    CA  Dam/Levee Break             Statewide
 8499    CO  Dam/Levee Break         Weld (County)
 8500    CA  Dam/Levee Break  San Joaquin (County)
 8501    CA  Dam/Levee Break        Butte (County)
 8502    CA  Dam/Levee Break       Sutter (County)
 8503    CA  Dam/Levee Break         Yuba (County)
 8504    MI  Dam/Levee Break      Gladwin (County)
 8505    MI  Dam/Levee Break      Midland (County)
 8506    MI  Dam/Levee Break      Midland (County)
 8507    MI  Dam/Levee Break        Iosco (County)
 8508    MI  Dam/Levee Break      Gladwin (County)
 8509    MI  Dam/Levee Break       Arenac (County)
 8510    MI  Dam/Levee Break      Saginaw (County),
 'Drought':      state incidentType             designatedArea
 8511    VT      Drought                  Statewide
 8512    PR      Drought                  Statewide
 8513    VI      Drought                  Statewide
 8514    NY      Drought          Delaware (County)
 8515    NY      Drought            Orange (County)
 ...    ...          ...                        ...
 9798    TX      Drought            Uvalde (County)
 9799    TX      Drought           Wharton (County)
 9800    TX      Drought            Wilson (County)
 9801    TX      Drought            Zavala (County)
 9802    FM      Drought  Chuuk (County-equivalent)

 [1292 rows x 3 columns],
 'Earthquake':       state incidentType           designatedArea
 9803     NV   Earthquake                Statewide
 9804     HI   Earthquake                Statewide
 9805     AK   Earthquake                Statewide
 9806     WA   Earthquake          Pierce (County)
 9807     WA   Earthquake           Mason (County)
 ...     ...          ...                      ...
 10025    PR   Earthquake      Guanica (Municipio)
 10026    PR   Earthquake       Utuado (Municipio)
 10027    PR   Earthquake  Barceloneta (Municipio)
 10028    UT   Earthquake       Salt Lake (County)
 10029    UT   Earthquake           Davis (County)

 [227 rows x 3 columns],
 'Fire':       state incidentType      designatedArea
 10030    NH         Fire           Statewide
 10031    CA         Fire           Statewide
 10032    ID         Fire           Statewide
 10033    CA         Fire           Statewide
 10034    ID         Fire   Boundary (County)
 ...     ...          ...                 ...
 13580    CA         Fire     Placer (County)
 13581    CA         Fire  El Dorado (County)
 13582    CA         Fire     Tehama (County)
 13583    CA         Fire    Trinity (County)
 13584    CA         Fire     Shasta (County)

 [3555 rows x 3 columns],
 'Fishing Losses':       state    incidentType                                     designatedArea
 13585    ME  Fishing Losses                                   Hancock (County)
 13586    ME  Fishing Losses                                   Lincoln (County)
 13587    ME  Fishing Losses                                Cumberland (County)
 13588    ME  Fishing Losses                                 Sagadahoc (County)
 13589    MA  Fishing Losses  Bristol (County)(in (P)MSA 1120,1200,2480,5400...
 13590    MA  Fishing Losses             Essex (County)(in PMSA 1120,4160,7090)
 13591    ME  Fishing Losses                                      Knox (County)
 13592    MA  Fishing Losses                                Barnstable (County)
 13593    MA  Fishing Losses                                     Dukes (County)
 13594    MA  Fishing Losses        Plymouth (County)(in (P)MSA 1120,1200,5400)
 13595    ME  Fishing Losses                    York (County)(in MSA 6400,6450)
 13596    ME  Fishing Losses                                     Waldo (County)
 13597    ME  Fishing Losses                                Washington (County)
 13598    MA  Fishing Losses           Norfolk (County)(in PMSA 1120,1200,6060)
 13599    MA  Fishing Losses                                 Nantucket (County)
 13600    MA  Fishing Losses                                   Suffolk (County)
 13601    OR  Fishing Losses                                      Coos (County)
 13602    OR  Fishing Losses                                      Lane (County)
 13603    OR  Fishing Losses                                  Columbia (County)
 13604    WA  Fishing Losses                                   Clallam (County)
 13605    OR  Fishing Losses                                     Curry (County)
 13606    OR  Fishing Losses                                 Tillamook (County)
 13607    WA  Fishing Losses                                 Wahkiakum (County)
 13608    OR  Fishing Losses                                   Douglas (County)
 13609    OR  Fishing Losses                                   Clatsop (County)
 13610    OR  Fishing Losses                                   Lincoln (County)
 13611    WA  Fishing Losses                                   Pacific (County)
 13612    WA  Fishing Losses                              Grays Harbor (County)
 13613    WA  Fishing Losses                                 Jefferson (County)
 13614    CA  Fishing Losses                                 Del Norte (County)
 13615    WA  Fishing Losses                                   Whatcom (County)
 13616    CA  Fishing Losses                                  Humboldt (County)
 13617    CA  Fishing Losses                                 Mendocino (County)
 13618    CA  Fishing Losses                                    Sonoma (County)
 13619    ME  Fishing Losses                                Cumberland (County)
 13620    ME  Fishing Losses                                      Knox (County)
 13621    ME  Fishing Losses                                   Hancock (County)
 13622    ME  Fishing Losses                                 Sagadahoc (County)
 13623    ME  Fishing Losses                                   Lincoln (County)
 13624    ME  Fishing Losses                                Washington (County)
 13625    ME  Fishing Losses                    York (County)(in MSA 6400,6450)
 13626    ME  Fishing Losses                                     Waldo (County),
 'Flood':       state incidentType     designatedArea
 13627    LA        Flood          Statewide
 13628    TX        Flood          Statewide
 13629    MT        Flood          Statewide
 13630    SD        Flood          Statewide
 13631    TX        Flood          Statewide
 ...     ...          ...                ...
 24086    TN        Flood   Dickson (County)
 24087    TN        Flood   Houston (County)
 24088    AZ        Flood    Apache (County)
 24089    AZ        Flood  Coconino (County)
 24090    AZ        Flood    Navajo (County)

 [10464 rows x 3 columns],
 'Freezing':       state incidentType                              designatedArea
 24091    FL     Freezing                             Hendry (County)
 24092    FL     Freezing                               Dade (County)
 24093    FL     Freezing                            Broward (County)
 24094    FL     Freezing                                Lee (County)
 24095    FL     Freezing                            Collier (County)
 ...     ...          ...                                         ...
 24387    CA     Freezing                          San Diego (County)
 24388    CA     Freezing                          Riverside (County)
 24389    CA     Freezing                            Ventura (County)
 24390    CA     Freezing                             Tulare (County)
 24391    AZ     Freezing  Navajo Nation Reservation (Also NM and UT)

 [301 rows x 3 columns],
 'Human Cause':       state incidentType       designatedArea
 24392    NY  Human Cause    New York (County)
 24393    OK  Human Cause    Oklahoma (County)
 24394    FL  Human Cause     Broward (County)
 24395    FL  Human Cause        Dade (County)
 24396    FL  Human Cause      Monroe (County)
 24397    FL  Human Cause  Palm Beach (County)
 24398    OK  Human Cause            Statewide,
 'Hurricane':       state incidentType        designatedArea
 24399    RI    Hurricane             Statewide
 24400    ME    Hurricane             Statewide
 24401    CT    Hurricane             Statewide
 24402    NY    Hurricane             Statewide
 24403    SC    Hurricane             Statewide
 ...     ...          ...                   ...
 36767    PA    Hurricane         York (County)
 36768    NJ    Hurricane       Morris (County)
 36769    NJ    Hurricane       Warren (County)
 36770    PA    Hurricane  Northampton (County)
 36771    PA    Hurricane      Bedford (County)

 [12373 rows x 3 columns],
 'Mud/Landslide':       state   incidentType                                     designatedArea
 36772    OH  Mud/Landslide                                Washington (County)
 36773    OH  Mud/Landslide                                  Hamilton (County)
 36774    WA  Mud/Landslide                                   Cowlitz (County)
 36775    WA  Mud/Landslide                                 Snohomish (County)
 36776    NC  Mud/Landslide  Eastern Band of Cherokee Indians of North Caro...
 36777    WA  Mud/Landslide                                 Snohomish (County)
 36778    WA  Mud/Landslide                         Tulalip Indian Reservation
 36779    WA  Mud/Landslide                   Stillaguamish Indian Reservation
 36780    WA  Mud/Landslide                   Sauk-Suiattle Indian Reservation
 36781    HI  Mud/Landslide                                      Maui (County)
 36782    WV  Mud/Landslide                                   Preston (County)
 36783    WV  Mud/Landslide                                  Marshall (County)
 36784    WV  Mud/Landslide                                     Wayne (County)
 36785    WV  Mud/Landslide                                   Ritchie (County)
 36786    WV  Mud/Landslide                                    Cabell (County)
 36787    WV  Mud/Landslide                                 Doddridge (County)
 36788    WV  Mud/Landslide                                     Tyler (County)
 36789    WV  Mud/Landslide                                    Taylor (County)
 36790    WV  Mud/Landslide                                   Lincoln (County)
 36791    WV  Mud/Landslide                                    Wetzel (County)
 36792    WV  Mud/Landslide                                   Calhoun (County)
 36793    WV  Mud/Landslide                                     Logan (County)
 36794    WV  Mud/Landslide                                  Harrison (County)
 36795    WV  Mud/Landslide                                      Ohio (County)
 36796    WV  Mud/Landslide                                Monongalia (County)
 36797    WV  Mud/Landslide                                     Mason (County)
 36798    WV  Mud/Landslide                                      Wirt (County)
 36799    WV  Mud/Landslide                                    Brooke (County)
 36800    WV  Mud/Landslide                                 Pleasants (County)
 36801    WV  Mud/Landslide                                   Hancock (County)
 36802    WV  Mud/Landslide                                      Wood (County)
 36803    AK  Mud/Landslide                             Skagway (Municipality)
 36804    AK  Mud/Landslide                                   Haines (Borough)
 36805    AK  Mud/Landslide                               Petersburg (Borough)
 36806    AK  Mud/Landslide                                   Juneau (Borough)
 36807    AK  Mud/Landslide       Chatham Regional Educational Attendance Area,
 'Other':       state incidentType      designatedArea
 36808    AK        Other           Statewide
 36809    AK        Other           Statewide
 36810    AK        Other           Statewide
 36811    OH        Other           Statewide
 36812    HI        Other           Statewide
 ...     ...          ...                 ...
 37109    MT        Other     Dawson (County)
 37110    MT        Other   Garfield (County)
 37111    MT        Other     McCone (County)
 37112    MT        Other   Richland (County)
 37113    MT        Other  Roosevelt (County)

 [306 rows x 3 columns],
 'Severe Ice Storm':       state      incidentType      designatedArea
 37114    NC  Severe Ice Storm     Bertie (County)
 37115    NC  Severe Ice Storm   Beaufort (County)
 37116    NC  Severe Ice Storm  Edgecombe (County)
 37117    NC  Severe Ice Storm     Chowan (County)
 37118    NC  Severe Ice Storm     Craven (County)
 ...     ...               ...                 ...
 40051    MS  Severe Ice Storm       Clay (County)
 40052    MS  Severe Ice Storm     Holmes (County)
 40053    MS  Severe Ice Storm    Quitman (County)
 40054    MS  Severe Ice Storm    Webster (County)
 40055    MS  Severe Ice Storm  Wilkinson (County)

 [2942 rows x 3 columns],
 'Severe Storm(s)':       state     incidentType       designatedArea
 40056    NC  Severe Storm(s)            Statewide
 40057    PA  Severe Storm(s)            Statewide
 40058    PA  Severe Storm(s)            Statewide
 40059    TX  Severe Storm(s)            Statewide
 40060    OK  Severe Storm(s)            Statewide
 ...     ...              ...                  ...
 57236    NE  Severe Storm(s)        York (County)
 57237    NE  Severe Storm(s)  Washington (County)
 57238    MI  Severe Storm(s)     Oakland (County)
 57239    MI  Severe Storm(s)      Macomb (County)
 57240    ND  Severe Storm(s)    McKenzie (County)

 [17185 rows x 3 columns],
 'Snow':       state incidentType     designatedArea
 57241    MT         Snow          Statewide
 57242    MI         Snow   Allegan (County)
 57243    MI         Snow     Barry (County)
 57244    MI         Snow   Calhoun (County)
 57245    MI         Snow     Ionia (County)
 ...     ...          ...                ...
 60900    NJ         Snow     Ocean (County)
 60901    NJ         Snow  Cape May (County)
 60902    NJ         Snow    Warren (County)
 60903    NJ         Snow    Sussex (County)
 60904    NJ         Snow    Morris (County)

 [3664 rows x 3 columns],
 'Terrorist':       state incidentType                                     designatedArea
 60905    VA    Terrorist                                 Arlington (County)
 60906    MA    Terrorist  Bristol (County)(in (P)MSA 1120,1200,2480,5400...
 60907    MA    Terrorist       Middlesex (County)(in (P)MSA 1120,2600,4560)
 60908    MA    Terrorist                                   Suffolk (County)
 60909    MA    Terrorist           Norfolk (County)(in PMSA 1120,1200,6060),
 'Tornado':       state incidentType     designatedArea
 60910    MA      Tornado          Statewide
 60911    MI      Tornado          Statewide
 60912    TX      Tornado          Statewide
 60913    MI      Tornado          Statewide
 60914    GA      Tornado          Statewide
 ...     ...          ...                ...
 62393    TN      Tornado     Scott (County)
 62394    TN      Tornado  Cheatham (County)
 62395    TN      Tornado     Smith (County)
 62396    TN      Tornado   Madison (County)
 62397    TN      Tornado    Marion (County)

 [1488 rows x 3 columns],
 'Toxic Substances':       state      incidentType                            designatedArea
 62398    LA  Toxic Substances                                 Statewide
 62399    MS  Toxic Substances                                 Statewide
 62400    KY  Toxic Substances                        Jefferson (County)
 62401    NY  Toxic Substances                       Rensselaer (County)
 62402    NY  Toxic Substances                          Niagara (County)
 62403    RI  Toxic Substances    Providence (County)(in PMSA 6060,6480)
 62404    WY  Toxic Substances                         Campbell (County)
 62405    RI  Toxic Substances  Washington (County)(in (P)MSA 5520,6480)
 62406    MI  Toxic Substances                          Genesee (County),
 'Tsunami':       state incidentType       designatedArea
 62407    OR      Tsunami       Curry (County)
 62408    HI      Tsunami    Honolulu (County)
 62409    OR      Tsunami     Lincoln (County)
 62410    OR      Tsunami        Coos (County)
 62411    HI      Tsunami      Hawaii (County)
 62412    HI      Tsunami        Maui (County)
 62413    CA      Tsunami    Monterey (County)
 62414    CA      Tsunami   Del Norte (County)
 62415    CA      Tsunami  Santa Cruz (County),
 'Typhoon':       state incidentType            designatedArea
 62416    GU      Typhoon                 Statewide
 62417    GU      Typhoon                 Statewide
 62418    FM      Typhoon                 Statewide
 62419    FM      Typhoon                 Statewide
 62420    AS      Typhoon        Eastern (District)
 ...     ...          ...                       ...
 62541    MP      Typhoon       Rota (Municipality)
 62542    MP      Typhoon     Tinian (Municipality)
 62543    MP      Typhoon       Rota (Municipality)
 62544    MP      Typhoon     Tinian (Municipality)
 62545    GU      Typhoon  Guam (County-equivalent)

 [130 rows x 3 columns],
 'Volcano':       state incidentType         designatedArea
 62546    HI      Volcano              Statewide
 62547    WA      Volcano         Adams (County)
 62548    WA      Volcano        Chelan (County)
 62549    WA      Volcano        Asotin (County)
 62550    WA      Volcano         Clark (County)
 62551    WA      Volcano       Douglas (County)
 62552    WA      Volcano       Cowlitz (County)
 62553    WA      Volcano      Columbia (County)
 62554    WA      Volcano         Ferry (County)
 62555    WA      Volcano        Benton (County)
 62556    WA      Volcano       Clallam (County)
 62557    WA      Volcano      Garfield (County)
 62558    WA      Volcano        Kitsap (County)
 62559    WA      Volcano  Grays Harbor (County)
 62560    WA      Volcano         Grant (County)
 62561    WA      Volcano         Lewis (County)
 62562    WA      Volcano     Jefferson (County)
 62563    WA      Volcano      Kittitas (County)

In [58]:
ls.count

In [59]:
len(ls)

23

In [11]:
dic["Biological"]

     state incidentType                   designatedArea
0       WA   Biological                   Adams (County)
1       WA   Biological                  Asotin (County)
2       WA   Biological                  Chelan (County)
3       WA   Biological                  Benton (County)
4       WA   Biological                 Clallam (County)
...    ...          ...                              ...
7849    OR   Biological                     Klamath TDSA
7850    OR   Biological        Siletz Indian Reservation
7851    OR   Biological      Umatilla Indian Reservation
7852    OR   Biological  Warm Springs Indian Reservation
7853    OK   Biological            Otoe-Missouria (OTSA)

[7854 rows x 3 columns]

In [12]:
dic["Biological"].query("'County' in designatedArea").head()

Empty DataFrame
Columns: [state, incidentType, designatedArea]
Index: []

In [13]:
ls = []
for i in range(len(dic["Biological"].designatedArea)):
    ls.append("County" in dic["Biological"].designatedArea.iloc[i])

In [15]:
len(dic["Biological"].designatedArea)

7854

In [87]:
ls

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [90]:
dic["Biological"][ls].info()
dic["Earthquake"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6029 entries, 0 to 7808
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    6029 non-null   object
 1   designatedArea  6029 non-null   object
dtypes: object(2)
memory usage: 141.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 9803 to 10029
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incidentType    227 non-null    object
 1   designatedArea  227 non-null    object
dtypes: object(2)
memory usage: 13.4+ KB

In [54]:
for dtype in disasterType:
    ls = []
    for i in range(len(dic[dtype].designatedArea)):
        ls.append("County" in dic[dtype].designatedArea.iloc[i])
    dic[dtype] = dic[dtype][ls]

In [55]:
dic["Earthquake"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 9806 to 10029
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           96 non-null     object
 1   incidentType    96 non-null     object
 2   designatedArea  96 non-null     object
dtypes: object(3)
memory usage: 3.0+ KB

In [56]:
dic["Earthquake"].head()

     state incidentType      designatedArea
9806    WA   Earthquake     Pierce (County)
9807    WA   Earthquake      Mason (County)
9808    WA   Earthquake   Thurston (County)
9809    WA   Earthquake  Snohomish (County)
9810    WA   Earthquake       King (County)

In [45]:
dic["Earthquake"].groupby(["county"]).count()

                       state  incidentType  designatedArea
county
Alameda (County)CA         1             1               1
Albemarle (County)VA       1             1               1
Benton (County)WA          1             1               1
Butte (County)ID           1             1               1
Chelan (County)WA          1             1               1
...                      ...           ...             ...
Washington (County)NY      1             1               1
Washington (County)OR      1             1               1
Whatcom (County)WA         1             1               1
Yakima (County)WA          1             1               1
Yamhill (County)OR         1             1               1

[81 rows x 3 columns]

In [57]:
for disaster in disasterType:
    dic[disaster]["county"] = dic[disaster]["designatedArea"] + dic[disaster]["state"]

In [43]:
dic["Earthquake"]["county"] = dic["Earthquake"]["designatedArea"] + dic["Earthquake"]["state"]

In [58]:
dic["Earthquake"].head()

     state incidentType      designatedArea                county
9806    WA   Earthquake     Pierce (County)     Pierce (County)WA
9807    WA   Earthquake      Mason (County)      Mason (County)WA
9808    WA   Earthquake   Thurston (County)   Thurston (County)WA
9809    WA   Earthquake  Snohomish (County)  Snohomish (County)WA
9810    WA   Earthquake       King (County)       King (County)WA

In [61]:
for disaster in disasterType:
    dic[disaster].drop(["state","designatedArea"], inplace=True, axis = 1)

In [80]:
dic["Earthquake"].head()

     incidentType                county
9806   Earthquake     Pierce (County)WA
9807   Earthquake      Mason (County)WA
9808   Earthquake   Thurston (County)WA
9809   Earthquake  Snohomish (County)WA
9810   Earthquake       King (County)WA

In [65]:
dic2 = {}

In [63]:
dic2["Earthquake"] = dic["Earthquake"].groupby(["county"]).count()

In [66]:
dic2["Earthquake"].head()

KeyError: 'Earthquake'

In [71]:
for dtype in disasterType:
    dic2[dtype] = dic[dtype].groupby(["county"]).count()

In [72]:
dic2["Biological"].max()

incidentType    2
dtype: int64

In [74]:
dic2["Flood"].max()

incidentType    24
dtype: int64

In [83]:
dic2["Earthquake"].head()

                 county  Earthquake
0    Alameda (County)CA           1
1  Albemarle (County)VA           1
2     Benton (County)WA           1
3      Butte (County)ID           1
4     Chelan (County)WA           1

In [82]:
for dtype in disasterType:
    dic2[dtype].columns = ["county", dtype]

In [84]:
dic2

{'Biological':                     county  Biological
 0     Abbeville (County)SC           2
 1      Accomack (County)VA           2
 2           Ada (County)ID           2
 3         Adair (County)IA           2
 4         Adair (County)KY           2
 ...                    ...         ...
 3011       Yuma (County)AZ           2
 3012       Yuma (County)CO           2
 3013     Zapata (County)TX           2
 3014     Zavala (County)TX           2
 3015    Ziebach (County)SD           2

 [3016 rows x 2 columns],
 'Chemical':                county  Chemical
 0    Boone (County)WV         1
 1   Cabell (County)WV         1
 2     Clay (County)WV         1
 3  Jackson (County)WV         1
 4  Kanawha (County)WV         1
 5  Lincoln (County)WV         1
 6    Logan (County)WV         1
 7   Putnam (County)WV         1
 8    Roane (County)WV         1,
 'Coastal Storm':                                 county  Coastal Storm
 0                     Adams (County)CO              1
 1                     Adams (County)ND              1
 2                     Adams (County)WA              1
 3                   Alameda (County)CA              1
 4                   Alamosa (County)CO              1
 ..                                 ...            ...
 404                    Yolo (County)CA              1
 405  York (County)(in MSA 6400,6450)ME              2
 406                    Yuba (County)CA              1
 407                    Yuma (County)CO              1
 408                 Ziebach (County)SD              1

 [409 rows x 2 columns],
 'Dam/Levee Break':                    county  Dam/Levee Break
 0       Arenac (County)MI                1
 1        Butte (County)CA                1
 2      Gladwin (County)MI                2
 3        Iosco (County)MI                1
 4      Midland (County)MI                2
 5      Saginaw (County)MI                1
 6  San Joaquin (County)CA                1
 7       Sutter (County)CA                1
 8         Weld (County)CO                1
 9         Yuba (County)CA                1,
 'Drought':                     county  Drought
 0     Abbeville (County)SC        1
 1         Adair (County)MO        1
 2         Adams (County)ID        1
 3         Adams (County)WA        1
 4         Adams (County)WI        1
 ...                    ...      ...
 1196       York (County)SC        1
 1197      Young (County)TX        1
 1198       Yuba (County)CA        1
 1199     Zavala (County)TX        1
 1200    Ziebach (County)SD        1

 [1201 rows x 2 columns],
 'Earthquake':                    county  Earthquake
 0      Alameda (County)CA           1
 1    Albemarle (County)VA           1
 2       Benton (County)WA           1
 3        Butte (County)ID           1
 4       Chelan (County)WA           1
 ..                    ...         ...
 76  Washington (County)NY           1
 77  Washington (County)OR           1
 78     Whatcom (County)WA           1
 79      Yakima (County)WA           1
 80     Yamhill (County)OR           1

 [81 rows x 2 columns],
 'Fire':                  county  Fire
 0        Ada (County)ID     1
 1      Adair (County)OK     1
 2      Adams (County)CO     1
 3    Alachua (County)FL     5
 4    Alameda (County)CA     2
 ..                  ...   ...
 929    Young (County)TX     7
 930     Yuba (County)CA     8
 931     Yuma (County)CO     1
 932   Zapata (County)TX     3
 933   Zavala (County)TX     2

 [934 rows x 2 columns],
 'Fishing Losses':                                                county  Fishing Losses
 0                               Barnstable (County)MA               1
 1   Bristol (County)(in (P)MSA 1120,1200,2480,5400...               1
 2                                  Clallam (County)WA               1
 3                                  Clatsop (County)OR               1
 4                                 Columbia (County)OR               1
 5                                     Coos (County)OR               1
 6                               Cumberland (County)ME               2
 7                                    Curry (County)OR               1
 8                                Del Norte (County)CA               1
 9                                  Douglas (County)OR               1
 10                                   Dukes (County)MA               1
 11           Essex (County)(in PMSA 1120,4160,7090)MA               1
 12                            Grays Harbor (County)WA               1
 13                                 Hancock (County)ME               2
 14                                Humboldt (County)CA               1
 15                               Jefferson (County)WA               1
 16                                    Knox (County)ME               2
 17                                    Lane (County)OR               1
 18                                 Lincoln (County)ME               2
 19                                 Lincoln (County)OR               1
 20                               Mendocino (County)CA               1
 21                               Nantucket (County)MA               1
 22         Norfolk (County)(in PMSA 1120,1200,6060)MA               1
 23                                 Pacific (County)WA               1
 24      Plymouth (County)(in (P)MSA 1120,1200,5400)MA               1
 25                               Sagadahoc (County)ME               2
 26                                  Sonoma (County)CA               1
 27                                 Suffolk (County)MA               1
 28                               Tillamook (County)OR               1
 29                               Wahkiakum (County)WA               1
 30                                   Waldo (County)ME               2
 31                              Washington (County)ME               2
 32                                 Whatcom (County)WA               1
 33                  York (County)(in MSA 6400,6450)ME               2,
 'Flood':                     county  Flood
 0     Abbeville (County)SC      1
 1      Accomack (County)VA      2
 2           Ada (County)ID      2
 3         Adair (County)IA      4
 4         Adair (County)MO      3
 ...                    ...    ...
 2481       Yuba (County)CA      5
 2482       Yuma (County)AZ      2
 2483       Yuma (County)CO      1
 2484     Zavala (County)TX      2
 2485    Ziebach (County)SD      4

 [2486 rows x 2 columns],
 'Freezing':                       county  Freezing
 0        Accomack (County)VA         1
 1         Alachua (County)FL         1
 2         Alameda (County)CA         1
 3    Androscoggin (County)ME         1
 4       Arlington (County)VA         1
 ..                       ...       ...
 141       Willacy (County)TX         2
 142          Yolo (County)CA         1
 143          York (County)VA         1
 144          Yuba (County)CA         1
 145        Zavala (County)TX         2

 [146 rows x 2 columns],
 'Human Cause':                   county  Human Cause
 0     Broward (County)FL            1
 1        Dade (County)FL            1
 2      Monroe (County)FL            1
 3    New York (County)NY            1
 4    Oklahoma (County)OK            1
 5  Palm Beach (County)FL            1,
 'Hurricane':                     county  Hurricane
 0     Abbeville (County)SC          6
 1      Accomack (County)VA         10
 2           Ada (County)ID          1
 3         Adair (County)IA          1
 4         Adair (County)KY          1
 ...                    ...        ...
 2698      Young (County)TX          3
 2699       Yuba (County)CA          1
 2700       Yuma (County)AZ          1
 2701     Zapata (County)TX          7
 2702     Zavala (County)TX          4

 [2703 rows x 2 columns],
 'Mud/Landslide':                    county  Mud/Landslide
 0       Brooke (County)WV              1
 1       Cabell (County)WV              1
 2      Calhoun (County)WV              1
 3      Cowlitz (County)WA              1
 4    Doddridge (County)WV              1
 5     Hamilton (County)OH              1
 6      Hancock (County)WV              1
 7     Harrison (County)WV              1
 8      Lincoln (County)WV              1
 9        Logan (County)WV              1
 10    Marshall (County)WV              1
 11       Mason (County)WV              1
 12        Maui (County)HI              1
 13  Monongalia (County)WV              1
 14        Ohio (County)WV              1
 15   Pleasants (County)WV              1
 16     Preston (County)WV              1
 17     Ritchie (County)WV              1
 18   Snohomish (County)WA              2
 19      Taylor (County)WV              1
 20       Tyler (County)WV              1
 21  Washington (County)OH              1
 22       Wayne (County)WV              1
 23      Wetzel (County)WV              1
 24        Wirt (County)WV              1
 25        Wood (County)WV              1,
 'Other':                      county  Other
 0         Albany (County)NY      2
 1       Allegany (County)NY      2
 2       Anderson (County)TX      1
 3        Andrews (County)TX      1
 4       Angelina (County)TX      1
 ..                      ...    ...
 177  Westchester (County)NY      2
 178   Williamson (County)TX      1
 179         Wood (County)TX      1
 180      Wyoming (County)NY      2
 181        Yates (County)NY      2

 [182 rows x 2 columns],
 'Severe Ice Storm':                     county  Severe Ice Storm
 0     Abbeville (County)SC                 1
 1         Adair (County)IA                 2
 2         Adair (County)MO                 4
 3         Adair (County)OK                 6
 4         Adams (County)IA                 2
 ...                    ...               ...
 1258       York (County)PA                 1
 1259       York (County)SC                 2
 1260      Young (County)TX                 2
 1261     Zapata (County)TX                 2
 1262     Zavala (County)TX                 2

 [1263 rows x 2 columns],
 'Severe Storm(s)':                     county  Severe Storm(s)
 0     Abbeville (County)SC                2
 1      Accomack (County)VA                2
 2         Adair (County)IA                6
 3         Adair (County)KY               10
 4         Adair (County)MO               14
 ...                    ...              ...
 2833       Yuma (County)AZ                1
 2834       Yuma (County)CO                1
 2835     Zapata (County)TX                1
 2836     Zavala (County)TX                3
 2837    Ziebach (County)SD               10

 [2838 rows x 2 columns],
 'Snow':                                  county  Snow
 0                   Accomack (County)VA     2
 1                      Adair (County)IA     1
 2                      Adair (County)KY     4
 3                      Adams (County)CO     2
 4                      Adams (County)IL     3
 ...                                 ...   ...
 1537                   Yazoo (County)MS     1
 1538  York (County)(in MSA 6400,6450)ME     6
 1539                    York (County)PA     4
 1540                    York (County)VA     2
 1541                 Ziebach (County)SD     2

 [1542 rows x 2 columns],
 'Terrorist':                                               county  Terrorist
 0                               Arlington (County)VA          1
 1  Bristol (County)(in (P)MSA 1120,1200,2480,5400...          1
 2     Middlesex (County)(in (P)MSA 1120,2600,4560)MA          1
 3         Norfolk (County)(in PMSA 1120,1200,6060)MA          1
 4                                 Suffolk (County)MA          1,
 'Tornado':                     county  Tornado
 0     Abbeville (County)SC        1
 1         Adair (County)KY        2
 2         Adams (County)CO        1
 3         Adams (County)IL        2
 4         Adams (County)IN        2
 ...                    ...      ...
 1065  Yalobusha (County)MS        3
 1066      Yazoo (County)MS        1
 1067       Yell (County)AR        1
 1068       York (County)NE        1
 1069       Yuma (County)CO        1

 [1070 rows x 2 columns],
 'Toxic Substances':                                        county  Toxic Substances
 0                         Campbell (County)WY                 1
 1                          Genesee (County)MI                 1
 2                        Jefferson (County)KY                 1
 3                          Niagara (County)NY                 1
 4    Providence (County)(in PMSA 6060,6480)RI                 1
 5                       Rensselaer (County)NY                 1
 6  Washington (County)(in (P)MSA 5520,6480)RI                 1,
 'Tsunami':                   county  Tsunami
 0        Coos (County)OR        1
 1       Curry (County)OR        1
 2   Del Norte (County)CA        1
 3      Hawaii (County)HI        1
 4    Honolulu (County)HI        1
 5     Lincoln (County)OR        1
 6        Maui (County)HI        1
 7    Monterey (County)CA        1
 8  Santa Cruz (County)CA        1,
 'Typhoon':                                           county  Typhoon
 0                    Ailuk (County-equivalent)MH        1
 1                     Arno (County-equivalent)MH        1
 2                      Aur (County-equivalent)MH        2
 3                   Bikini (County-equivalent)MH        1
 4                    Chuuk (County-equivalent)FM        3
 5                 Enewetak (County-equivalent)MH        1
 6                     Guam (County-equivalent)GU       11
 7                            Honolulu (County)HI        1
 8                               Kauai (County)HI        1
 9                   Kosrae (County-equivalent)FM        1
 10               Kwajalein (County-equivalent)MH        2
 11                     Lae (County-equivalent)MH        1
 12                     Lib (County-equivalent)MH        1
 13                  Likiep (County-equivalent)MH        1
 14                Maloelap (County-equivalent)MH        1
 15                   Mejit (County-equivalent)MH        1
 16                    Namu (County-equivalent)MH        1
 17                 Pohnpei (County-equivalent)FM        4
 18    Rose Island (Island) (County-equivalent)AS        3
 19  Swains Island (Island) (County-equivalent)AS        3
 20                    Truk (County-equivalent)FM        3
 21                    Ujae (County-equivalent)MH        1
 22                 Ujelang (County-equivalent)MH        1
 23                   Utrik (County-equivalent)MH        1
 24                   Wotho (County-equivalent)MH        1
 25                   Wotje (County-equivalent)MH        1
 26                     Yap (County-equivalent)FM        6,
 'Volcano':                      county  Volcano
 0          Adams (County)WA        1
 1         Asotin (County)WA        1
 2        Benewah (County)ID        1
 3         Benton (County)WA        1
 4         Bonner (County)ID        1
 5       Boundary (County)ID        1
 6         Chelan (County)WA        1
 7        Clallam (County)WA        1
 8          Clark (County)WA        1
 9     Clearwater (County)ID        1
 10      Columbia (County)WA        1
 11       Cowlitz (County)WA        1
 12       Douglas (County)WA        1
 13         Ferry (County)WA        1
 14      Franklin (County)WA        1
 15      Garfield (County)WA        1
 16         Grant (County)WA        1
 17  Grays Harbor (County)WA        1
 18        Hawaii (County)HI        3
 19        Island (County)WA        1
 20     Jefferson (County)WA        1
 21          King (County)WA        1
 22        Kitsap (County)WA        1
 23      Kittitas (County)WA        1
 24     Klickitat (County)WA        1
 25      Kootenai (County)ID        1
 26         Latah (County)ID        1
 27         Lewis (County)WA        1
 28       Lincoln (County)WA        1
 29         Mason (County)WA        1
 30     Nez Perce (County)ID        1
 31      Okanogan (County)WA        1
 32       Pacific (County)WA        1
 33  Pend Oreille (County)WA        1
 34        Pierce (County)WA        1
 35      San Juan (County)WA        1
 36      Shoshone (County)ID        1
 37        Skagit (County)WA        1
 38      Skamania (County)WA        1
 39     Snohomish (County)WA        1
 40       Spokane (County)WA        1
 41       Stevens (County)WA        1
 42      Thurston (County)WA        1
 43     Wahkiakum (County)WA        1
 44   Walla Walla (County)WA        1
 45       Whatcom (County)WA        1
 46       Whitman (County)WA        1
 47        Yakima (County)WA        1}

In [130]:
earth_temp = dic2["Earthquake"]

In [132]:
earth_temp.columns = ["Earthquake"]

In [133]:
earth_temp

                     Earthquake
designatedArea
Alameda (County)              1
Albemarle (County)            1
Benton (County)               1
Butte (County)                1
Chelan (County)               1
...                         ...
Warren (County)               1
Washington (County)           2
Whatcom (County)              1
Yakima (County)               1
Yamhill (County)              1

[79 rows x 1 columns]

In [134]:
for dtype in disasterType:
    dic2[dtype].columns = [dtype]

In [77]:
dic2["Biological"]

                      incidentType
county
Abbeville (County)SC             2
Accomack (County)VA              2
Ada (County)ID                   2
Adair (County)IA                 2
Adair (County)KY                 2
...                            ...
Yuma (County)AZ                  2
Yuma (County)CO                  2
Zapata (County)TX                2
Zavala (County)TX                2
Ziebach (County)SD               2

[3016 rows x 1 columns]

In [138]:
earth_temp = dic2["Earthquake"]
bio_temp = dic2["Biological"]

In [144]:
flood_temp = dic2["Flood"]

In [146]:
flood_temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1497 entries, Abbeville (County) to Ziebach (County)
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Flood   1497 non-null   int64
dtypes: int64(1)
memory usage: 23.4+ KB

In [151]:
bio_temp.reset_index(inplace = True)
flood_temp.reset_index(inplace = True)
earth_temp.reset_index(inplace = True)

In [156]:
df = pd.merge(right = bio_temp, left = flood_temp, how = "outer", left_on= "designatedArea", right_on="designatedArea")
df.drop("index", axis = 1, inplace = True)
df.replace(np.nan, 0, inplace = True)
df

          designatedArea  Flood  Biological
0     Abbeville (County)    1.0         2.0
1      Accomack (County)    2.0         2.0
2           Ada (County)    2.0         2.0
3         Adair (County)   11.0         8.0
4         Adams (County)   53.0        24.0
...                  ...    ...         ...
1763   Woodward (County)    0.0         2.0
1764    Wyandot (County)    0.0         2.0
1765     Yadkin (County)    0.0         2.0
1766     Yoakum (County)    0.0         2.0
1767     Zapata (County)    0.0         2.0

[1768 rows x 3 columns]

In [78]:
for dtype in disasterType:
    dic2[dtype].reset_index(inplace = True)

In [79]:
dic2["Fire"].head()

               county  incidentType
0      Ada (County)ID             1
1    Adair (County)OK             1
2    Adams (County)CO             1
3  Alachua (County)FL             5
4  Alameda (County)CA             2

In [170]:
for dtype in disasterType:
    ls = dic2[dtype].columns.to_list()
    ls.remove("county")
    ls.remove(dtype)
    if len(ls) != 0:
        for a in ls:
            dic2[dtype].drop(a, inplace = True, axis = 1)

In [172]:
dic2["Biological"].head()

       designatedArea  Biological
0  Abbeville (County)           2
1   Accomack (County)           2
2        Ada (County)           2
3      Adair (County)           8
4      Adams (County)          24

In [85]:
df = dic2["Biological"]
for dtype in disasterType:
    df = pd.merge(right = df, left = dic2[dtype], how = "outer")
    if "index" in df.columns.to_list():
        df.drop("index", axis = 1, inplace = True)
    df.replace(np.nan, 0, inplace = True)
df

,county,Volcano,Typhoon,Tsunami,Toxic Substances,Tornado,Terrorist,Snow,Severe Storm(s),Severe Ice Storm,...,Freezing,Flood,Fishing Losses,Fire,Earthquake,Drought,Dam/Levee Break,Coastal Storm,Chemical,Biological
0,Adams (County)WA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0
1,Asotin (County)WA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,4.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,2.0
2,Benewah (County)ID,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
3,Benton (County)WA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,8.0,0.0,3.0,1.0,1.0,0.0,1.0,0.0,2.0
4,Bonner (County)ID,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,Jabat (County-equivalent)MH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3043,Namorik (County-equivalent)MH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3044,Wayne (County)UT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0
3045,Forest County Potawatomi Reservation and Trust...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3046,Northern Mariana Islands (County-equivalent)MP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [87]:
df.to_csv("./data/CDC/disaster_cleaned_with_state.csv")